:root.theme-dark {
  .page {
  --text-color: #F1B2CE;
  --border-color: #FF0070;
  --border-hover: rgba(255, 0, 112, 0.4);
  --accent-text-color: #FF0070;
  --accent-bk-color: #FF0070;
  --shadow-color: #DB00FF;
  --background-img: url(../images/cover-image-dark.png);
  --page-bg-color: #000028;
  --main-title: #FF0070;
  }
}

@media (prefers-color-scheme: dark) {
    .page {
      --text-color: #F1B2CE;
      --border-color:  #FF0070;
      --border-hover: rgba(255, 0, 112, 0.4);
      --accent-text-color: #FF0070;
      --accent-bk-color: #FF0070;
      --shadow-color: #DB00FF;
      --background-img: url(../images/cover-image-dark.png);
      --page-bg-color: #000028;
      --main-title: #FF0070;
    }
}