/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  .page {
    --font-family: 'IBM Plex Mono';
    --text-color: #353430;
    --accent-text-color: #FF8DCB;
    --accent-bk-color: #FF8DCB;
    --shadow-color: #FFC2E6;
    --text-title-size: 116px;
    --text-main-size: 18px;
    --background-img: url(../images/cover-image-light.png);
  }
}

.theme-light .empty::before  {
  display: none;
}

.theme-light .empty::after {
  display: none;
}

.theme-light .main__title {
 color: var(--text-color); 
}

.theme-light .decorated-zone::before {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}





.theme-light .page {
  .page {
    --font-family: 'IBM Plex Mono';
    --text-color: #353430;
    --accent-text-color: #FF8DCB;
    --accent-bk-color: #FF8DCB;
    --shadow-color: #FFC2E6;
    --text-title-size: 116px;
    --text-main-size: 18px;
    --background-img: url(../images/cover-image-light.png);
  }
}

@media (prefers-color-scheme: light) {
  .root {
    .page {
      --font-family: 'IBM Plex Mono';
      --text-color: #353430;
      --accent-text-color: #FF8DCB;
      --accent-bk-color: #FF8DCB;
      --shadow-color: #FFC2E6;
      --text-title-size: 116px;
      --text-main-size: 18px;
      --background-img: url(../images/cover-image-light.png);
    }
  }
}