:root.theme-light {
  .page {
    --border-color: #353430;
    --border-hover: rgba(53, 52, 48, 0.4);
    --text-color: #353430;
    --main-title: #353430;
    --accent-text-color: #FF8DCB;
    --accent-bk-color: #FF8DCB;
    --shadow-color: #FFC2E6;
    --background-img: url(../images/cover-image-light.png);
    --page-bg-color: #fff1f7;
  }
}

.theme-light .empty::before {
  display: none;
}

.theme-light .empty::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --border-color: #353430;
    --border-hover: rgba(53, 52, 48, 0.4);
    --text-color: #353430;
    --main-title: #353430;
    --accent-text-color: #FF8DCB;
    --accent-bk-color: #FF8DCB;
    --shadow-color: #FFC2E6;
    --background-img: url(../images/cover-image-light.png);
    --page-bg-color: #fff1f7;
    }
}