/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  min-width: 375px;
  width: 100%;
  justify-self:center;
  align-self: center;
  overflow-x: hidden;
  font-family: var(--font-family);
  background-color: var(--page-bg-color);
  background: var(--background-img);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1, h2, h3, h4, p, span {
  font-family: var(--font-family);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-text-color);
  border-left: 1px solid var(--accent-text-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-text-color);
  border-right: 1px solid var(--accent-text-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-block-end: 66px;
  height: max(100vh, 668px);
  width: 100%;
}

.empty {
  position: relative;
  height: 30px;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
  font-size: var(--text-main-size);
  color: var(--accent-text-color);

}

.empty::before {
  content: 'REC';
  order: 1;
}

.empty::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--accent-text-color);
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--accent-text-color);
  filter: blur(0.5px);
  border-inline-end: 1px solid var(--accent-bk-color) ;
  border-block-start: 1px solid var(--accent-bk-color);
  order: 2;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  color: var(--accent-text-color);
  top: 75px;
  right: 10px;
  position: absolute;
}

.header__theme-menu-list {
  display: grid;
  gap: 12px;
  text-transform: lowercase;
  font-size: var(--text-main-size);
}

.header__theme-menu-button {
  display: flex;
  background-color: transparent;
  border: none;
  height: 23px;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  line-height: 1;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-bk-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-bk-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-bk-color);
}

.header__theme-menu-button:active {
  border: 1px solid var(--accent-bk-color);
}

.header__title {
  padding-block-start: 40px;
  margin-inline-start: 10px;
}

.header__title, .focus {
  display: grid;
  height: 192px;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--shadow-color);
  align-items: center;
  text-shadow: 4px 4px 0 var(--accent-text-color);
}

.header_description {
  margin-block-start: 95px;
  inline-size: 355px;
  block-size: 117px;
  align-self: center;
  justify-self: center;
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.main__title {
  font-weight: 700;
  font-size: var(--text-main-size);
  line-height: 23.4px;
  color: var(--accent-text-color);
  word-wrap: break-word;
}


.main__text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.link {
  text-shadow: 2px 1px 0 var(--accent-text-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.section__title {
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.section__title, .header_description {
  display: grid;
  background-color: var(--accent-bk-color);
  color: #000028;
  font-size: var(--text-main-size);

}

.advice {
  display: grid;
  font-weight: 400;
  font-size: var(--text-main-size);
  line-height: 23.4px;
  
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
}

.gallery .section__title {
  margin-block-start: 0;
}

.gallery_content {
  display: grid;
  gap: 10px;
}

.gallery img {
  width: 100%;
  display: block;
}

.footer {
  width: 100%;
  padding: 276px 0;
  text-align: center;
  line-height: 83%;
  height: max(100vh, 668px);
}

.footer__decorated-zone {
  position: relative;
}

.footer__decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--accent-text-color);
  border-block-start: 1px solid var(--accent-text-color);
}

.footer__decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-text-color);
  border-left: 1px solid var(--accent-text-color);
}

@media (min-width: 768px) {
  .header {
    padding-block-end: 0;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .empty {
    top: 20px;
    right: 30px;
  }

  .header__theme-menu {
    top: 192px;
    right: 20px;
  }

  .header__title {
    padding-block-start: 40px;
  }

  .focus {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 0;
  }

  .header_description {
    width: 364px;
    justify-self: end;
    margin-right: 20px;
    margin-bottom: 163px;
    font-size: var(--text-main-size);
  }

  .main {
    padding: 60px 20px;
    gap: 80px;
  }

  .main__title {
    padding-inline-end: 0;
  }

  .why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .why .section__title, .how .section__title {
    margin-block-start: 0;
  }

  .what .main__title {
    width: 236px;
  }

  .why__list {
    display: grid;
    gap: 20px;
  }
  
  .how__list {
    margin-block-start: 20px;
    display: grid;
    gap: 20px;
  }
  
  .how {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .gallery_content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin-top: 10px;
    height: 100%;
    
  }

 .sunset {
    grid-column: 1/3;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: 1/3;
    height: 100%;
    object-fit: cover;
  }

  .music {
    grid-column: 1;
    grid-row: 2/4;
    height: 100%;
    object-fit: cover;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3;
  }

  .footer__decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .footer .focus {
    padding-top: 196px;
  }

  .footer__decorated-zone::after {
    top: 20px;
    right: 20px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    margin: 0;
    position: absolute;
    top: 20px;
    left: 397px;
    display: block;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__title {
    padding-block-end: 20px;
    padding-block-start: 30px;
  }


  .header_description {
    width: 491px;
    height: 71px;
    margin-block-end: 134px;
  }

  .why {
    grid-template-columns: 315px 1fr;
  }

  .what {
    display: grid;
  }
  .many {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    gap: 20px;
  }

  .what .main__title {
    width: 315px;
}

  .how {
   display: grid;
   grid-template-columns: 315px 1fr;
  }

  .footer .focus {
    padding-top: 0;
  }
}