:root {
  .page {
  --font-family: 'IBM Plex Mono';
  --text-color: #F1B2CE;
  --border-color: #FF0070;
  --accent-text-color: #FF0070;
  --accent-bk-color: #FF0070;
  --shadow-color: #DB00FF;
  --main-title: #FF0070;
  --text-main-size: 18px;
  --background-img: url(../images/cover-image-dark.png);
  --page-bg-color: #000028;
}
}
